@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


li{
    list-style-type: none;
}

.fa-adjust{
    font-size: 20px;
}

/*

NAVIGATION

*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
}

.nav__link--anchor{
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.nav__link--list{
    display: flex;  
}

.nav__link{
    margin: 0 12px;
}

#personal-logo
{
    width: 50px;
    height: 50px;
}

/*

NAVIGATION

*/